html,
body {
  height: 100%;
  padding: 15px;
}
input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}
.date-selector {
  display: inline-block;
  border: #ffffff solid 5px;
  border-radius: 5px;
  margin: 10px;
}
button {
  display: inline-block;
  border: #ffffff solid 5px;
  border-radius: 5px;
  margin: 10px;
}
a {
  margin-left: 10px;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-size: 20px;
  padding: 20px 0 0;
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
}
.page-timer {
  background: #0f3854;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  background-size: 100%;
}

.timer {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.field {
  flex-direction: column;
  padding: 20px;
}

.value {
  display: block;
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}

.label {
  display: block;
  letter-spacing: 0.1em;
  font-size: 24px;
}
